h1 {
  font-size: 30px;
  color: blue;
}

@media (max-width: 600px) {
  h1 {
    font-size: 6px;
  }
}

@media (orientation: landscape) and (min-width: 768px) {
  h1 {
    color: red;
  }
}

@media (max-width: 600px) {
  .card {
    display: block;
    width: 100%;
    text-align: justify;
  }
}
.left-section {
  float: left;
}

.right-section {
  float: right;
}
